---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<div class="row t60">
<p>Welcome to the world of Machine Learning Mastery, the ultimate teaching website 
    dedicated to empowering learners like you to dive deep into the fascinating 
    realms of machine learning and deep learning. In today's fast-paced, data-driven world, 
    these powerful technologies are revolutionizing industries and transforming the 
    way we understand and interact with our environment.
</p>
<p>At Machine Learning Mastery, we believe in the power of learning by doing. Our 
    pedagogical approach is centered around hands-on exercises, interactive tutorials, 
    and engaging stretch challenges that are designed to inspire curiosity, encourage 
    experimentation, and propel you towards success. By immersing yourself in practical
     experiences, you’ll develop a strong foundation in machine learning and deep learning 
     concepts, and gain the confidence to apply these skills in real-world scenarios.</p>
</div>
{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.image or page.widget1.video or page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}

	{% if page.widget2.image or page.widget2.video or page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}

	{% if page.widget3.image or page.widget3.video or page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->


{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="http://www.mlacademy.io/subscribe"</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}





{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
